.logo {
  height: 30px;
}
.searchBar {
  width: 45%;
}
.searchInput::placeholder {
  color: grey;
  font-size: 14px;
  font-weight: 500;
}

.headerText {
  color: white !important;
  font-weight: 600;
}

.categoryTitle {
  color: black !important;
  font-weight: 500;
  font-size: 14px;
  margin-top: -18px;
}
@media only screen and (max-width: 390px) {
  .container-fluid {
    margin-left: 0 !important;
  }
  .searchBar input {
    display: none;
  }
  .NavbarList li {
    margin-right: 100px !important;
  }
}
